if status is-interactive
    # OPTIONS
    set fish_greeting # disable greeting on startup
    fish_config theme choose "Catppuccin Mocha"

    set -Ux CARAPACE_BRIDGES 'zsh,fish,bash,inshellisense'
    
    # KEYBINDINGS
    set -g fish_key_bindings fish_hybrid_key_bindings
    
    # CURSOR BEHAVIOR
    set fish_cursor_default block
    set fish_cursor_insert line
    set fish_cursor_replace_one underscore
    set fish_cursor_replace underscore
    set fish_cursor_external line
    set fish_cursor_visual block
    set -g fish_vi_force_cursor 1
    
    # ENV VARIABLES
    set -gx XDG_CONFIG_HOME $HOME/.config
    set -gx GOPATH $HOME/go
    set -gx MANPAGER 'nvim +Man!'
    set -gx MANWIDTH 999
    set -gx EDITOR $(which nvim)
    set -gx VISUAL $(which nvim)
    set -gx COLORTERM truecolor
    {{- if eq .chezmoi.os "darwin" }}
    set -gx TERM xterm-ghostty
    set -gx TERMINAL $(which ghostty)
    {{- else }}
    {{- if eq  .chezmoi.hostname "ubuntu" }}
    set -gx TERM xterm-256color
    set -gx TERMINAL $(which xterm)
    {{- end }}
    {{- end }}
    set -gx BROWSER $(which xdg-open)
    set -gx VIDEO $(which xdg-open)
    set -gx PAGER $(which less)
    set -gx SHELL $(which fish)
    set -gx OPENER $(which xdg-open)
    set -gx READER $(which xdg-open)
    set -gx IMAGE $(which xdg-open)
    set -gx STARSHIP_CONFIG $XDG_CONFIG_HOME/starship/starship.toml
    set -gx MISTRAL_API_KEY {{ .mistral_api_key | quote }}
    set -gx KORONATECH_API_KEY {{ .koronatech_api_key | quote }}
    set -gx OPENAI_API_KEY {{ .koronatech_api_key | quote }}
    set -gx OPENAI_BASE_URL "https://ai.kth.pro/api"
    set -gx OPENAI_HOST $OPENAI_BASE_URL
    set -gx OPENAI_MODEL Coder
    set -gx HOMEBREW_BUNDLE_FILE $HOME/.config/brewfile/Brewfile
    
    # PATH
    fish_add_path $PATH /home/linuxbrew/.linuxbrew/bin $GOPATH/bin $HOME/.local/bin /home/linuxbrew/.linuxbrew/opt/rustup/bin
    fish_add_path $PATH  $HOME/.cargo/bin /opt/homebrew/bin /opt/homebrew/Cellar/rustup/1.28.2/bin $HOME/.lmstudio/bin
    
    # ABBREVIATION
    
    # Colorize grep output (good for log files)
    safe_abbr grep 'grep --color=auto'
    safe_abbr egrep 'egrep --color=auto'
    safe_abbr fgrep 'fgrep --color=auto'
    
    # Easier to read disk
    safe_abbr df 'df -h' # human-readable sizes
    safe_abbr free 'free -m' # show sizes in MB
    
    # Nvim
    safe_abbr vi nvim
    safe_abbr vim 'set -gx NVIM_APPNAME vim; nvim'
    safe_abbr neovim 'set -gx NVIM_APPNAME nvim; nvim'
    
    # Git
    safe_abbr gst 'git status'
    safe_abbr gl 'git log'
    safe_abbr ga 'git add'
    safe_abbr gc 'git commit'
    safe_abbr gcm 'git commit -m'
    safe_abbr gP 'git push'
    safe_abbr gp 'git pull'
    safe_abbr gf 'git fetch'
    safe_abbr gb 'git branch'
    safe_abbr gco 'git checkout'
    safe_abbr gcob 'git checkout -b'
    safe_abbr gs 'git stash push -m'
    safe_abbr gsa 'git stash apply'
    safe_abbr gsp 'git stash pop'
    safe_abbr gsd 'git stash drop'
    safe_abbr gss 'git stash show'
    safe_abbr gsl 'git stash list'
    safe_abbr gsb 'git stash branch'
    safe_abbr gsc 'git stash clear'
    safe_abbr gwta 'git worktree add'
    safe_abbr gwtr 'git worktree remove'
    safe_abbr gm 'git merge'
    safe_abbr gmc 'git merge --continue'
    safe_abbr gma 'git merge --abort'
    safe_abbr gr 'git rebase'
    safe_abbr grc 'git rebase --continue'
    safe_abbr gra 'git rebase --abort'
    safe_abbr gmomr 'git merge origin/master'
    safe_abbr gmomn 'git merge origin/main'
    safe_abbr gmod 'git merge origin/dev'
    safe_abbr gmos 'git merge origin/staging'
    safe_abbr gmot 'git merge origin/test'
    
    # Jujutsu
    safe_abbr jc 'jj commit -m'
    safe_abbr jn 'jj new'
    safe_abbr jnd 'jj new -m'
    safe_abbr jd 'jj describe'
    safe_abbr jl 'jj log -n 10'
    safe_abbr jla 'jj log'
    safe_abbr je 'jj edit -r'
    safe_abbr jnx 'jj next --edit'
    safe_abbr jp 'jj prev --edit'
    safe_abbr jg 'jj git'
    safe_abbr jgp 'jj git push -b'
    safe_abbr jgpm 'jj git push -b main'
    safe_abbr jgf 'jj git fetch'
    safe_abbr jb 'jj b'
    safe_abbr jbs 'jj b set'
    safe_abbr jbc 'jj b create'
    safe_abbr jf 'jj diff'
    safe_abbr js 'jj squash'
    safe_abbr jr 'jj rebase'
    safe_abbr jR 'jj restore'
    safe_abbr ju 'jj undo'
    
    # Kubectl
    safe_abbr k 'kubectl'
    safe_abbr kg 'kubectl get'
    safe_abbr kd 'kubectl describe'
    safe_abbr kl 'kubectl logs'
    safe_abbr kgp 'kubectl get pods'
    safe_abbr kdp 'kubectl describe pods'
    safe_abbr klp 'kubectl logs pods'
    safe_abbr kgd 'kubectl get deployments'
    safe_abbr kdd 'kubectl describe deployments'
    safe_abbr kld 'kubectl logs deployments'
    safe_abbr kgs 'kubectl get services'
    safe_abbr kds 'kubectl describe services'
    safe_abbr kls 'kubectl logs services'
    
    # Poetry
    safe_abbr psh 'poetry shell'
    safe_abbr pi 'poetry install'
    safe_abbr pl 'poetry lock'
    safe_abbr pe 'poetry env'
    
    # Atuin
    safe_abbr asr 'atuin scripts run'
    
    # Zellij
    safe_abbr zj zellij
    safe_abbr zja 'zellij a'
    safe_abbr zjs 'zellij -s'
    
    # Lazy
    safe_abbr lg lazygit
    safe_abbr lzg lazygit
    safe_abbr lzd lazydocker
    
    # ls commands
    safe_abbr ls 'ls --color=auto'
    safe_abbr ll 'ls -lavh --color=auto --group-directories-first' # show long listing of all except ".."
    safe_abbr ls 'eza --oneline'
    safe_abbr ll 'eza -la --color=auto --group-directories-first --icons --git --header' # show long listing of all except ".."
    safe_abbr tree 'eza --color=auto --group-directories-first --tree' # tree view
    
    # Set TERM var
    safe_abbr set-ghostty 'set -gx TERM xterm-ghostty'
    safe_abbr set-256 'set -gx TERM xterm-256color'
    
    # Other tools
    safe_abbr pyal 'source .venv/bin/activate.fish'
    safe_abbr cat bat
    safe_abbr gotask go-task
    safe_abbr y yazi
    safe_abbr pd prevd
    safe_abbr nd nextd
    
    {{- if eq .email "g.kuzora@korona.net" }}
    # Koronatech
    safe_abbr lana 'set -gx TERM xterm-256color; ssh kuzora@lana01.well.ftc.ru -p 3389'
    safe_abbr casper 'set -gx TERM xterm-256color; ssh kuzora@casper-admin.ml2.dp-k8s-test.ftc.ru -p30023'
    {{- end }}

    fzf --fish | source
    atuin init fish | source
    zoxide init fish | source
    starship init fish | source
    carapace _carapace | source
    task --completion fish | source
end
