{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $koronatech_api_key := promptStringOnce . "koronatech_api_key" "Koronatech API key" -}}

[data]
    email = {{ $email | quote }}
    koronatech_api_key = {{ $koronatech_api_key | quote }}
