" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader=" "
imap ii <ESC>

" Better tabbing
vnoremap < <gv
vnoremap > >gv
nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set hlsearch
set ignorecase
set infercase
set smartcase
set incsearch
set wrapscan

set autoindent
set smartindent
set copyindent
set expandtab
set shiftround
set shiftwidth=4    
set smarttab= true   
set tabstop=4       
set softtabstop=4   

set display+='lastline'
set encoding='utf-8'  
set fileencoding='utf-8'
set linebreak
set scrolloff=8   
set sidescrolloff=5

set number
set relativenumber
set scrolloff=8
set sidescrolloff=5
set colorcolumn=80
set clipboard=unnamedplus

" Don't use Ex mode, use Q for formatting.
map Q gq


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'

" Vim-surround plugin
Plug 'tpope/vim-surround'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
