{{- if eq .chezmoi.os "linux" }}
if [ -e {{ .chezmoi.homeDir -}}/.nix-profile/etc/profile.d/nix.sh ]; then . {{ .chezmoi.homeDir -}}/.nix-profile/etc/profile.d/nix.sh; fi # added by Nix installer

{{- if eq .email "g.kuzora@korona.net" }}
sudo ip link set eth0 mtu 1350
fish -i
{{- end }}

# Commands that should be applied only for interactive shells.
[[ $- == *i* ]] || return

HISTFILESIZE=100000
HISTSIZE=10000

shopt -s histappend
shopt -s checkwinsize
shopt -s extglob
shopt -s globstar
shopt -s checkjobs

alias -='cd -'
alias ..='cd ..'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alF'

if [[ ! -v BASH_COMPLETION_VERSINFO ]]; then
  . "/nix/store/r40zqmfxlvwbg6ap6dn96p3ycqn3yccn-bash-completion-2.16.0/etc/profile.d/bash_completion.sh"
fi

{{- end }}
