tap "sst/tap"
tap "modem-dev/tap"
brew "atuin"
brew "bat"
brew "btop"
brew "carapace"
brew "chezmoi"
brew "difftastic"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gcc"
brew "gh"
brew "git"
brew "httpie"
brew "jj"
brew "jq"
brew "just"
brew "k9s"
brew "lazydocker"
brew "lazygit"
brew "lua"
brew "luarocks"
brew "mise"
brew "neovim"
brew "node"
brew "parallel"
brew "ripgrep"
brew "rsync"
brew "starship"
brew "stow"
brew "stylua"
brew "tlrc"
brew "tree-sitter"
brew "tree-sitter-cli"
brew "tmux"
brew "tokei"
brew "typos-lsp"
brew "unzip"
brew "uv"
brew "wget"
brew "xclip"
brew "xsel"
brew "yazi"
brew "zellij"
brew "zoxide"
brew "sst/tap/opencode"
brew "modem-dev/tap/hunk"
{{- if eq .chezmoi.os "darwin" }}
brew "mas"
brew "libmagic"
brew "python@3.11"
brew "werf"
cask "appcleaner"
cask "bitwarden"
cask "ghostty@tip"
cask "karabiner-elements"
cask mos
cask "orbstack"
cask "visual-studio-code"
cask "zed"
{{- end }}
