tap "sst/tap"
tap "agavra/tap"
brew "atuin"
brew "bat"
brew "btop"
brew "carapace"
brew "chezmoi"
brew "dart-sdk"
brew "difftastic"
brew "eza"
brew "fd"
brew "file-formula"
brew "fish"
brew "fzf"
brew "gcc"
brew "glab"
brew "git"
brew "herdr"
brew "httpie"
brew "hugo"
brew "jj"
brew "jq"
brew "just"
brew "lazygit"
brew "lua"
brew "luarocks"
brew "mise"
brew "neovim"
brew "node"
brew "parallel"
brew "ripgrep"
brew "rsync"
brew "rustup"
brew "starship"
brew "stylua"
brew "tlrc"
brew "tree-sitter"
brew "tree-sitter-cli"
brew "tokei"
brew "typos-lsp"
brew "unzip"
brew "uv"
brew "wget"
brew "worktrunk"
brew "xclip"
brew "xsel"
brew "yazi"
brew "zoxide"
brew "sst/tap/opencode"
brew "agavra/tap/tuicr"
{{- if eq .chezmoi.os "darwin" }}
brew "mas"
brew "libmagic"
brew "python@3.11"
brew "werf"
cask "appcleaner"
cask "bitwarden"
cask "ghostty@tip"
cask "karabiner-elements"
cask "obsidian"
cask "orbstack"
cask "visual-studio-code"
cask "zed"
{{- end }}
