{{- if eq .chezmoi.os "darwin" }}
mas
{{- end }}
atuin
bat
btop
carapace
chezmoi
cpp
crush
difftastic
direnv
eza
fd
fish
fzf
gcc
gh
git
git-delta
go
go-task
golangci-lint
httpie
jj
jq
just
k9s
kanata
lazydocker
lazygit
lua
luajit
luarocks
make
neovim
node
opencode
parallel
ripgrep
rustup
sqlite
starship
stow
tmux
tokei
tree-sitter
unzip
uv
wget
xclip
xsel
yazi
zellij
zoxide
