[user]
	name = GeorgiyKuzora
	email = {{ .email | quote }}
[color]
	ui = auto
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
	algorithm = histogram
[alias]
    	empty = "git commit --allow-empty"
[status]
    	short = true
[format]
	pretty = oneline
[log]
	decorate = true
	abbrevCommit = true
[merge]
    	conflictstyle = diff3
[alias]
    dl = -c diff.external=difft log -p --ext-diff
    ds = -c diff.external=difft show --ext-diff
    df = -c diff.external=difft diff
