{
  "providers": {
    "koronatech": {
      "baseUrl": "https://ai.kth.pro/api",
      "api": "openai-completions",
      "apiKey": {{ .koronatech_api_key | quote }},
      "models": [
        {
            "id": "instructthink",
            "contextWindow": 96000
        },
        {
            "id": "Instruct",
            "contextWindow": 96000
        }
      ]
    }
  }
}
