require 'custom.functions'
require 'custom.commands'
require 'custom.autocmds'
require 'custom.options'
require 'custom.russian'
require 'custom.keymaps'
require 'custom.diagnostics'
require 'custom.lsp'
{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.hostname "ubuntu" }}
require 'custom.clipboard'
{{- end }}
{{- end }}
